/************************************/
/* HERO */
/************************************/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/hero1.webp);
  background-position: center;

  height: 80vh;
  min-height: 35rem;
}

.hero__content {
  top: 50%;
}

.hero__content h1 {
  max-width: 30ch;
  margin: 0 auto;
  font-weight: 300;
}

.hero__content-name {
  font-size: 110%;
  font-weight: 700;
  color: var(--orange-main);
}

/************************************/
/* HAIRSTYLES */
/************************************/

.hairstyles {
  background-color: #f3f3f3;
}

.hairstyles__style {
  padding: 0;
}

.hairstyles__style p {
  text-transform: uppercase;
  padding: 1rem;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.hairstyles__button {
  margin-top: 3rem;
}

/************************************/
/* ABOUT US */
/************************************/

.about-us {
  background-color: #131313;
  padding: 0;
}

.about-us__picture {
  background-image: url(../img/rainbow-hair.webp);
  background-size: cover;
  background-position: 50% 30%;

  height: 25rem;
  min-height: 100%;
}

.about-us__container {
  color: #fff;
  padding: 6rem 15%;

  text-align: left;
}

.about-us__container h2 {
  text-transform: none;
  font-weight: 300;
}

.about-us__container p {
  font-size: 0.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;

  max-width: 50ch;
}

/************************************/
/* PRICING */
/************************************/

.pricing {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pricing__container {
  border: 0.1rem #13131325 dashed;
}

.pricing__item {
  border-radius: 0.3rem;
}

.prices__btn {
  margin-top: 1rem;
  font-size: 0.9rem;
  background-color: #131313;

  text-transform: none;

  padding: 0.7rem 1.4rem;

  border-radius: 0.2rem;
}

.prices__btn:hover,
.prices__btn:focus {
  background-color: #050505;
  color: #fff;
  font-size: 0.9rem;
}

.prices__btn:focus {
  border: 0.3rem solid #fff;
}

/************************************/
/* MEDIA QUERIES */
/************************************/

/* NON-MOBILE */
@media only screen and (min-width: 768px) {
  .hero__content {
    padding: 0 10%;
  }

  .hairstyles__style {
    padding: 0.1rem;
  }

  /* About us */

  .about-us__container {
    padding-top: 25%;
    padding-left: 15%;
    padding-right: 20%;
  }

  .about-us__picture {
    height: 35rem;
  }
}

@media only screen and (min-width: 1024px) {
  .hero__content {
    padding: 0 15%;
  }

  .hairstyles__style {
    padding: 0.5rem;
  }

  .about-us__container {
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 25%;
  }
}

@media only screen and (min-width: 1921px) {
  .hairstyles__style img {
    margin: 0 auto;
  }
}
